<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionService" class="ru.ostus.spring.service.QuestionServiceImpl">
        <property name="dao" ref="questionDAO"/>
        <property name="resourceCSV" value="classpath:questions.csv"/>
    </bean>

    <bean id="questionDAO" class="ru.ostus.spring.dao.QuestionDAOImpl">
        <property name="questionList" ref="question"></property>
    </bean>

    <bean id = "question" class = "ru.ostus.spring.domain.Question"/>
</beans>