<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit author</title>
    <link th:href="@{/css/editpage.css}" rel="stylesheet" />
</head>

<form id="edit-form" th:action="@{/authors/edit(id=${author.id})}" th:method="post" action="editAuthor.html">
    <h1>Author info:</h1>

    <div class="row">
        <label for="id-input">Id:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${author.id}" value="1"/>
    </div>

    <div class="row">
        <label for="author-input">Name:</label>
        <input id="author-input" name="fullName" type="text" th:value="${author.fullName}" value="John Doe"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>
